.component-overlay .overlay {

  display: flex;
  justify-content: center;
  align-items: center;

  color: aliceblue;
  font-size: 48px;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  cursor: pointer;
}

.component-overlay .overlay.hide {

  display: none;
}

@media (max-width: 600px) {
  .component-overlay .overlay {

    display: flex;
    justify-content: center;
    align-items: center;
  
    color: aliceblue;
    font-size: 28px;
  
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 999;
    cursor: pointer;
  }
}
